/*paleta
#22223b
#4a4e69
#9a8c98
#c9ada7
#f2e9e4

*/

/*--------------------------------SLIDER-------------------------------------*/

.texto-fijo {
    display: block;   
    z-index: 20;
    text-align: center;

}
    

.body {
    display: block;
    align-items: center;
    justify-content: center;
    /*padding: 30px;*/
   
}

.container-all img {
    max-width: 100%; 


    

}

.container-all {
    position: relative;
    max-width: 2000px;
    width: 100%;
    height: 100%;
    
    /*el overflow es para que si la imagen se pasa la recorte*/
    overflow: hidden;
    

    
    z-index: 1;
  

}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    animation-duration: 20s;
    animation-name: autoplay;
    
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    
    transition: all 1200ms;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-delay: 0s;
   
    
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    /*para que abarque todo de manera vertical*/
    flex-shrink: 0;
    /*todo de manera horiz*/
    flex-grow: 0;
    max-width: 100%;
    
    

}

.pagination {
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    /*para qe se ajusten al contenedor padre*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

}


/*vamos a crear el keyframe autoplay*/

@keyframes autoplay {
    2%{
        transform: translate3d(calc(-100% * 0), 0, 0); 
    }

    

    30%{     
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

  

    60%{       
        transform: translate3d(calc(-100% * 2), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }

}





/*------------------------------------------------------------------------------------------------------*/

.icon {
    width: 120px;
    height: 120px;
}

body{
    /*siempre es bueno poner el margin 0 al principio para quitar los amrgenes que vienen por defecto que nos ocupan lugar al dope*/
    margin: 0;
    font-family: 'Baloo Chettan 2', cursive;
    background-color: #c9ada7;
}

body p {
    font-size: 22px;
    /*font-weight: bold;*/
}


/*
header .contenedor{

    display: flex;
   
    justify-content: space-between;
   

}*/


a {
    text-decoration: none;
}

.contenedor {
    max-width: 1500px;
    width: 90%;
    margin: auto;
}


/*
#contenedor-titulo-flex{

    display: flex;
    justify-content: center;

           
        max-width: 1500px;
        width: 100%;
}*/


/*
header {
    
    background: url(imagenes/fondo.jpg);
   
    height: 100vh;    
    
    background-size: cover;
  

}*/



h1 {
    
    
    font-family: 'Great Vibes', cursive;
    font-size: 90px;
    color: #22223b;
    text-align: center;
    margin: 0px;
    margin-bottom: 15px;
    /* Para bordes: -webkit-text-stroke: 0.01px black;*/
    font-weight: normal;
    text-shadow: 0px 0px 5px #c9ada7;
    
    
    
    
}

h2 {
    font-family: 'Lobster Two', cursive;
    
    font-size: 40px;
    color: #4a4e69;
    text-align: center;
    margin-bottom: 150px;
    margin-top: -10px;
    font-weight: normal;
    text-shadow: 0px 0px 10px #22223b;
    
    
}

.contenedor-titulo {
    text-align: center;
}



#top-id p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 34px;
    color: #f2e9e4;
    text-align: center;    
    text-shadow: 2px 2px 4px #22223b;
    }

 #countdown {
   
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 34px;
    color: #f2e9e4;
    text-align: center;
    text-shadow: 2px 2px 4px #22223b;
   


   }


/*-------------------AQUIII BOTONES!!!---------------------*/
/*aca agrego todos los botones para que tengan el mismo estilo, desps si quiero modificar uno lo modifico aparte*/
.contenedor-titulo a, #informacion a, #historia a, #confirmar a, #regalos a, .texto-fijo a {

    font-size: 14px;
    color: #c9ada7;
    background: #22223b;
    padding: 14px 24px;
    /*el padding es iguial que el margin. top right bottom left. por eso puse 2 ejes y me lo acomodo*/
    text-align: center;
    width: 128px;
    border-radius: 6px;

    /*hay elementos en linea y elementos de bloque. el elemento A es de LINEA. por eso no se alinea simplemente con un text-align. por eso le tengo que pponer inline-block. para alinear al centro le pongo la prop al contenedor-titulo*/
    display: inline-block;
    margin-bottom: 20px;
   
}



/*.........................SECCION DE "INFO"..................*/

h3 {
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 55px;
    color: #22223b;
    /*font-weight: bold;*/
    /*margin-top: 100px;    */
    
}



#informacion .contenedor-informacion  {

    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#informacion .texto {
    
    width: 42%;
}


#informacion .item {

    width: 48%;
    text-align: center;
    

}

#informacion ul {
    list-style: none;
}

/*aqui llamo al elemento hijo n°2. li es hijo de ul. el 1 seria la imagen . el 2 velocidad. y el 3 el parrafo. tmb puedo usar first-child o last-child*/
#informacion ul li:nth-child(2){

    /*font-weight: bold;*/
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0 40px;
}





/*.........................SECCION FOTOGRAFIA.....................*/

button.owl-prev, button.owl-next {

    font-size: 40px !important;
    }

span {
    /*SPAN es una etiqueta HTML q no tienen ningun significado semantico, es solamente para poner un elemento en una etiqueta y darle estilos*/
    color: #4a4e69;
}

.item p {

    text-align: center;
}

#fotografia .item {
    padding: 15px;
}

#fotografia img {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    
   
}



/*.........................TESTIGOS.............................*/

.contenedor-testigos {

    display: flex;
    /*el wrap era x si los elementos ocupan mucho lugar pasan a la otra línea*/
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#testigos .item {

    width: 28%;
    text-align: center;
    

}

#testigos ul {
    list-style: none;
}

/*aqui llamo al elemento hijo n°2. li es hijo de ul. el 1 seria la imagen . el 2 velocidad. y el 3 el parrafo. tmb puedo usar first-child o last-child*/
#testigos ul li:nth-child(2){

    font-weight: bold;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#testigos ul li:nth-child(3){

    line-height: 31px;
}



#testigos img{
    display: block;
    margin: auto;
    padding-bottom: 40px;
    
}

#testigos .item h3 {
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 5px;
}



/*...............................SECCION historia....................................*/

#historia{
    background: linear-gradient(#22223b, #c9ada7);
    text-align: center;
    /*aqui le pongo 50px de espacio arriba y abajo. 0 a los costados*/
    padding: 50px 0;
    margin-top: 40px;
    }

    
#historia h4{
    font-size: 23px;
    color: #c9ada7;
    /*para darle estilo al boton vuelvo al que configure mas arriba e incluyo este nuevo ;)*/
}


#confirmar a {
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

#regalos img {
    display: block;
    margin: auto;
    margin-bottom: 80px;
}

#regalos a {
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

#confirmar img {
    display: block;
    margin: auto;
    margin-bottom: 80px;
}

#codigo {
    padding-top: 80px;
}

#codigo img {
    display: block;
    margin: auto;
    margin-bottom: 80px;
  
}

#codigo p {
    text-align: center;
    font-size: 26px;
}

#instagram {
    padding-top: 80px;
}

#instagram img {
    display: block;
    margin: auto;
    margin-bottom: 80px;
  
}

#instagram p {
    text-align: center;
}

#instagram a {
    font-size: 26px;
    color: #22223b;
    
}

  .contacto-info {

    display: flex;
    justify-content: space-around;
    margin-top: 60px;

  }

  .contacto-info img {
    width: 28px;
    /*el vertical align me alinea la foto con el texto apra que no queda cada unoa rriba del otro o desalineado*/
    vertical-align: middle;
    /*con margin-right: separo la imagen del texto;*/
    margin-right: 10px;
  }




   /*.........................FOOTER..................*/


   footer {

    background: #22223b;
    padding: 40px 0;
    text-align: center;
    margin-top: 80px;
   }

   footer .contenedor {

    display: flex;
    justify-content: center;
    /*este por defecto vienen en raw, por eso se pone uno al lado del otro. si lo pongo en columna pone uno abajo del otro*/
    flex-direction: column;
   }

   footer img {
    margin: 0 40px;
    transform: rotate(0);
    /*en la rotacion necesito definir primero el grado por defecto, luego en el :hover cuanto quiero que rote, y luego la transition que es el tiempo en el defect y en el hover. deg es grados en ingles*/
    transition: 0.4s;

   }

   footer img:hover {
    transform: rotate(360deg);
    transition: 0.4s;

   }

   footer p {
       color: #c9ada7;
       margin-top: 18px;
       font-size: 18px;
   }

   /*.....................datos-bancariios.............................*/

   .lista-datos {
       display: none;
   }

   .lista-datos {
        text-align: center;
        list-style: none;
        font-size: 22px;

   }


   

   
   /*..............estilo htm................*/

   html {
       /*este es la animaciopn de cndo hago scroll por el documento*/
       scroll-behavior: smooth;
   }

   /*dando padding a las secciones para que cuando cliqueo en el link se vea el titulo y no se tape*/

   #informacion, #servicios, #fotografia, #testigos, #blog, #contacto {

    padding: 40px 0;
   }





   /*--------------------------------HOVERS-------------------------------*/


   
.owl-carousel img:hover {
   
    transform: scale(1.12);
    box-shadow: 2px 2px 10px #22223b;
    
}


#testigos .foto:hover {
    transform: scale(1.14);

}


   /*.............................IMPORTANTISIMA PARTE DEL RESPONSIVE DESIGN..........................*/

   
   
   
   /*en el medio que se va a ver esta pag sera con un ancho maximo de 800 px (suficiente para tablets como para fonos) si es solo para celus le ponemos 480px. */
   @media (max-width: 800px) {

    @keyframes autoplay {
        0%{
            transform: translate3d(calc(-100% * 0.5), 0, 0); 
        }
    
        
    
        30%{     
            transform: translate3d(calc(-100% * 3.7), 0, 0);
        }
    
      
    
        60%{       
            transform: translate3d(calc(-100% * 7.3), 0, 0);
        }
    
        100%{
            transform: translate3d(calc(-100% * 10), 0, 0);
        }
    
    }
   

    .container-all {
        position: relative; 
        max-width: 100%;
        width: 100%;
        height: 705px;       
        overflow: hidden;
        z-index: 1;
    }

    .item-slide {
        max-width: 300%;
    }

    #countdown {
        font-size: 22px;
        padding: 0 10px;
    }    

    

    header h1 {
            margin-top: 10px;
            font-size: 66px;
            margin-bottom: 20px;
            padding-bottom: 35px;
            
    }
    

    h2 {
        font-size: 24px;
        color: #c9ada7;
        margin-bottom: 120px;
        padding: 0 10px;
    }

    h3 {
        font-size: 45px;
    }

    #top-id p{
        margin-top: 0px;
        font-size: 20px;
    }


    .contenedor-titulo h2 {
        font-size: 30px;
    }


    .ceremonia-religiosa {
        margin-bottom: 50px;
    }

    #informacion .contenedor-informacion {
        
        flex-direction: column;
        
    }

    
    #informacion .texto {
        width: 98%;
        text-align: center;
    }

    #informacion .item {
        width: 98%;
        text-align: center;
    }

    .contenedor-servicios {
        flex-direction: column;
    }



    .contenedor-testigos {

        flex-direction: column;
    }

    #testigos .item {
        width: 100%;
        }

    #testigos .item li img {
        width: 220px;
        height: 220px;
    }

    .item ul {
        padding: 0;
    }

  

    footer img {
        margin: 18px;
    }


    .contacto-info {
        flex-direction: column;
    }
/*
    .contenedor-titulo h1 {
        -webkit-text-stroke: 0.01cm white;
        color: rgb(0, 65, 161);

    }*/

  }

/*AHORA LO VAMOS A CONFIGURAR PARA IPAD Y TABLETS*/
/*al ponerle un miniom me aseguro que no va a ser un celular*/
@media (min-width: 600px) and (max-width: 800px) {

    header {
        height: 70vh;
    }

    header h1 {
        margin-bottom: 213px;
        font-size: 90px;
    }

    .contenedor-servicios {

        width: 500px;
        /*margin auto para centrarlo*/
        margin: auto;
    }

    .contenedor-publicaciones {

        width: 70%;
        margin: auto;
    }



  }



  @media (max-width: 330px) {

    

    header h1 {
        font-size: 56px;
        margin-bottom: 25px;
        padding-bottom: 35px;
        color: #22223b;
        
    }

    .contenedor-titulo h2 {

        font-size: 22px;
        color: #c9ada7;
    }

    #countdown {
        font-size: 18px;
    }

    #whatsapp img {

        width: 30px;
        height: 30px;
        top: 86%;
    }

    #sobre-mi img {

        height: 250px;
    }

    .lista-menu li {
        font-size: 14px;
    }

    footer p {
        font-size: 16px;
    }







}
  